.App {
  background-color: #282c34;
  height: 100vh;
  color: white;
  font-size: 16px;
}

.hnavbar-ul {
  background-color: #0b152a8c;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content:space-evenly;
  display: flex;
}

.hnavbar-li {
  display: inline;
  text-decoration: none;
}

.hnavbar-li-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;   
  color: white;
  font-size: 28px;
}

.button-container {
  display: inline-flex;
}

.refresh-button {
  background-color: rgba(1, 6, 20, 0.657);
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 5px;
}

.accept-button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.Agent {
  position: relative;
  color: white;
  font-size: 18px;
}

/* Add some padding inside the card container */
.container {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  font-size: 32px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgba(1, 6, 20, 0.657);

  border-radius: 25px;
  border: 2px;
  padding: 0px 2px 20px 20px;
  height: 80vh;
  width: 90vw;
  overflow-y:scroll;
  overflow-x: hidden;

  font-size: 24px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track 
::-webkit-scrollbar-track {
  background: #2d45778c; 
  -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
    border-radius: 10px;
}
*/
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.content {
  border: 1px solid rgb(128, 123, 123);
  padding: 0.5rem;
  border-radius: 5px;
  height: auto;
}
  
.content-parent {
  height: 0px;
  overflow: hidden;
}
  
.content-show {
  height: auto;
}

.collapsible-button-container {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px solid rgb(128, 123, 123);
  padding: 0.5rem;
  border-radius: 5px;
}

.collapsible-toggle-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 0px;
  text-align: left;
  width: 89vw;
  cursor:pointer;
  color: white;
  font-size: 28px;
}

.dropdown-container {
  text-align: left;
  border: 1px solid rgb(128, 123, 123);
  position: relative;
  border-radius: 5px;
  width: 30vw;
  margin-bottom: 5px;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid rgb(128, 123, 123);
  border-radius: 5px;
  overflow: auto;
  max-height: 300px;
  background-color: #0b152a;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #9fc3f870;
}

.dropdown-item.selected {
  background-color: #0047b0;
  color: #fff;
}